<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.leizhao.news.library">

    <!-- 访问网络权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 访问网络状态权限 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 写外部存储器 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 读取外部存储器 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />


</manifest>
